.error-snackbar {
    background-color: #f44336; /* Red background for error */
    color: white; /* White text */
    font-size: 16px;
    text-align: center;
  }

  .custom-toast {
    font-size: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
  }