<div class="item-list-container">
    <div class="horizontal-container">
        <input type="text" class="description-input" placeholder="Description" [(ngModel)]="new_expense.description" />
        <input type="" class="value-input" placeholder="Value" [(ngModel)]="new_expense.expense_value"/>
        <button class="add-button" (click)="addExpense()">Add</button>
    </div>

    <ul class="item-list">
        <li *ngFor="let expense of expenses;let i = index" class="item">
            <span class="item-description">{{expense.description}}</span>
            <span class="item-value">{{expense.expense_value}} €</span>
            <button class="remove-button" (click)="removeExpense(i)">Remove</button>
        </li>
    </ul>
</div>