<div class="fixed-expenses-container">
  <!-- Inputs Section -->
  <div class="inputs-container">
    <!-- Description Input -->
    <input
      type="text"
      class="description-input"
      placeholder="Description"
      [(ngModel)]="new_fixed_expense.description"
      #descriptionInput
    />

    <!-- Expense Value -->
    <input
      type="number"
      class="value-input"
      placeholder="Value"
      [(ngModel)]="new_fixed_expense.expense_value"
    />

    <!-- Add Button -->
    <button class="add-button" (click)="AddFixedExpense()">Add</button>
  </div>

  <!-- Expense List Section -->
  <div class="item-list-container" #itemListContainer *ngIf="expenses.length > 0">
    <ul class="item-list">
      <li *ngFor="let expense of expenses; let i = index" class="item">
        <span class="item-description">{{ expense.description }}</span>
        <span class="item-value">{{ expense.expense_value }} €</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16" (click)="RemoveExpense(i)">
          <path d="M8 0a8 8 0 1 0 8 8A8 8 0 0 0 8 0zm3.5 8.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1 0-1h6a.5.5 0 0 1 .5.5z"/>
        </svg>
      </li>
    </ul>
  </div>
</div>