.item-list-container {    

    margin-top: 20px;
    margin-bottom: 20px;
}

.horizontal-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.item-description
{
  color: white;
    text-align: left; /* Horizontally center the text */
    flex: 1; /* Optional: Ensures equal space for description and value */
}
.item-value {
  color: white;
    text-align: right; 
    margin-right: 20px;/* Horizontally center the text */
    flex: 1; /* Optional: Ensures equal space for description and value */
}



.fixed-expenses-container {
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
    max-height: 100;
    overflow: hidden;

  }

.inputs-container {
    display: flex;
    margin: 5px;
    gap: 5px; /* Add spacing between input fields and the button */
    align-items: center; /* Align inputs and button vertically */
  }


.item:not(:last-child) {
  border-bottom: 2px solid #ccc; /* Apply border only to items except the last one */
}

.item {

  
  display: flex;
  height: 40px;
  justify-content: space-between; /* Space between description, value, and remove button */
  align-items: center; /* Vertically align all child elements */
  padding: 8px;
  font-family: 'Inter', sans-serif;
  letter-spacing: -1px;
  font-size: 17px;  
}



  .item-list-container {
    outline: #595959 2px solid;
    max-height: 180px; 
    background-color: #2A2A2A;
    margin: 15px 5px 10px 8px;
    overflow-y: auto; 
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }

.item-list {
  background-color: #2A2A2A;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 5px;
  }


.remove-button {
    padding: 7px 15px;
    font-size: 17px;    
    color: white;
    background-color: #ff4d4d;
    border: none;
    margin-right: -5px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
  }

.remove-button:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }

  .description-input,
.value-input {
    padding: 8px;
    margin: 2px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    background-color: #2A2A2A;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    width: 125px;
    border: 2px solid #595959;
    text-align: center;
    
}

.description-input:focus,
.value-input:focus {
    border: 2px solid #595959; /* Keep the border change if needed */
    outline: none; /* Remove the default outline */
    color: white; /* Ensure the text color remains white */
    background-color: #2A2A2A; /* Ensure the background color remains consistent */
}



.svg-icon-container {
  margin-left: auto; /* Push the icon to the far right */
}

.svg-icon { /* Push the SVG icon to the far right */
  margin-left: auto; /* Push the SVG icon to the far right */
  width: 24px; /* Set the width of the SVG icon */
  height: 24px; /* Set the height of the SVG icon */
  fill: #7D7D7D; /* Set the color of the SVG icon */
  cursor: pointer; /* Add a pointer cursor for interactivity */
}

.svg-icon:hover {
  fill: red; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
  transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.item-list-container {
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.item-list-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}