html {
    overflow: hidden;
     /* Disable scrollbars */
  }
  
.layout {
    display: flex;
    height: 100dvh;/* Full viewport height */
    overflow: hidden;

    
  }

.chosen-content    {
    padding: 16px;
    position: absolute;
    background-color: #A083D5;
    left: 170px;
    top: 30px;
    
    overflow: hidden;
    height: 90%;
    width: 40%;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 2px 2px 10px grey;
}

.navbar {
    width: 150px; /* Fixed width for the navbar */
  }

  .custom-dialog-container {
    transform: translate(-50%, -50%) !important; /* Center the dialog */
    position: fixed !important; /* Ensure it stays above other components */
    top: 50% !important;
    left: 50% !important;
    z-index: 1000 !important;
  }