html {
    overflow: hidden;
     /* Disable scrollbars */
  }
  
.layout {
    display: flex;
    height: 100dvh;/* Full viewport height */
    overflow: hidden;

    
  }

  .chosen-content {
    position: absolute;
    height: 80%;
    background-color: #2A2A2A;
    left: 150px; /* Match the width of the navbar */
    top: 0; /* Align to the top of the page */
    bottom: 0; /* Extend to the bottom of the page */
    right: 0; /* Extend to the right edge */
    overflow: auto; /* Enable scrolling if content overflows */
}

.navbar {
    width: 150px; /* Fixed width for the navbar */
  }

  
